{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "globals": {
    "document": "readonly",
    "localStorage": "readonly",
    "setTimeout": "readonly"
  }
}
